/* Nesting deeper */
$bodyfontsize: 14px;
$h1fontsize: 16px;
$smallerfontsize: 12px;

body {
  font-size: $bodyfontsize;
  h1 {
    font-size: $h1fontsize;
    &.smaller {
      font-size: $smallerfontsize;
    }
  }
}
